body {
    margin:0;
    padding:0;
    background: #fff;
    font-family: sans-serif;
    transition:0.5s;
}
body.active{
    background:#00151f;
}

/*buat div yg buat toggle*/
.toggle {   /*toggle di light mode*/
    position: absolute;
    top: 40px;
    right: 50px;
    border: 3px solid #00151f;
    width: 60px;
    height: 25px;
    cursor: pointer;
    border-radius:20px;
    transition:0.5s;
}
.toggle.active{
    background:#00151f;
    border: 3px solid #fff;
}

/* contoh pemakaian ::before ada di link sini*/
/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss_sel_before_style */

/*buat buletan yg ada di toggle nya*/
.toggle::before{
    position:absolute;
    content:'';
    top:2.5px;
    left:2px;
    width:20px;
    height:20px;
    background: #00151f;
    border-radius:20px;
    transition:0.5s;
}

.toggle.active::before{
    left:38px;
    background: #fff;
}


.jing{
    padding: 230px 0;
    margin: auto;
    text-align:center;
    width:50%;
    transition:1s;
}
.jing.active{
    color:#fff;
}
