body {
    margin:0;
    padding:0;
    background: #fffc9e;
    font-family: sans-serif;
    overflow:hidden;
    transition:0.5s;
}

body.night{
    background: #0789c6;
    color: #fff;
}

/*buat div yg buat toggle*/
.toggle {   /*toggle di light mode*/
    position: absolute;
    z-index: 3;
    top: 40px;
    right: 50px;
    border: 3px solid #00151f;
    width: 60px;
    height: 25px;
    cursor: pointer;
    border-radius:20px;
    transition: 0.5s;
}

.toggle.active{
    background: #0789c6;
    border: 3px solid #fff;
}

/* contoh pemakaian ::before ada di link sini*/
/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss_sel_before_style */

/*buat buletan yg ada di toggle nya*/
.toggle::before{
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 20px;
    height: 20px;
    background: #00151f;
    border-radius: 50%;
    transition: 0.5s;
}

.toggle.active::before{
    left: 38px;
    background: #fff;
}
h1{
    font-size:200%;
    position: absolute;
    top: 10%;
    left: 40%;
}

.jing1{
    position:absolute;
    z-index:1;
    top:40px;
}

.jing1 img{
    max-width:100%;
    max-height:100%;
}
.jing2{
    opacity: 0;
    position:absolute;
    z-index:2;
    top:40px;
}

.jing2 img{
    max-width:100%;
    max-height:100%;
}

.sunmoonContainer{
    width:400px;
    height:400px;
    overflow:hidden;
    transition: 1s;
}

.sunmoonContainer.active{
    overflow:visible;
    transform: translateY(-400px);
}
