* {
  margin: 0;
  padding: 0;
  font-family: "helvetica";
}

.sky {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.sun {
  z-index: 10;
  position: absolute;
  left: 5%;
  width: 300px;
  height: 300px;
  background: url("sun.png");
  background-size: cover;
}
.moon {
  z-index: 10;
  position: absolute;
  left: 5%;
  width: 300px;
  height: 300px;
  background: url("moon.png");
  background-size: cover;
}

.khintil {
  position: fixed;
  top: 5.5%;
  width: 100%;
  height: 100%;
  background: url("wolf landscape night.png");
  background-size: contain;
}

.khintil2 {
  position: fixed;
  top: 5.5%;
  width: 100%;
  height: 100%;
  background: url("wolf landscape day-ish.png");
  background-size: contain;
}

.toggle {
  position: absolute;
  left: 93%;
  top: 5%;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background: #00151f;
  z-index: 1;
}

.circle {
  position: absolute;
  top: 5.3%;
  left: 93.3%;
  width: 20px;
  height: 20px;
  background: #111111;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
.txtContainer {
  z-index: 3;
  position: absolute;
  left: 45%;
  top: 7%;
}
.txtContainer h1 {
  text-align: center;
}
